
body {
    font-family: "Open Sans", serif;
  }
  
  .wrapper {
    background: linear-gradient(to right, #640D45,#4F0A36);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.title-container {
    height: 90vh;
    background: url("img/background.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
  }

  .form-container {
    background-color: #09101b;
    height: 90vh;
    padding-top: 100px;
    padding-left: 50px;
  }